@using Entity.Dto.ContactForms
@using Microsoft.AspNetCore.Identity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@inject UserManager<AppUser> UserManager
@{
	var page = ViewContext.RouteData.Values["controller"].ToString();
	var currentUser = await UserManager.GetUserAsync(User);
}

@* <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
	<div class="container">
		<a asp-area="Admin" asp-action="Index" asp-controller="Home" class="navbar-brand">Muhammed Durmaz</a>

		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav">
				<li class="nav-item px-2">
					<a asp-area="Admin" asp-action="Index" asp-controller="Home" class="nav-link @(page == "Home" ? "active": "")">Dashboard</a>
				</li>
				<li class="nav-item px-2">
					<a asp-area="Admin" asp-action="Index" asp-controller="Blog" class="nav-link @(page == "Blog" ? "active": "")">Blogs</a>
				</li>
				<li class="nav-item px-2">
					<a asp-area="Admin" asp-action="Index" asp-controller="Category" class="nav-link @(page == "Category" ? "active": "")">Categories</a>
				</li>
				
				<li class="nav-item px-2">
					<a href="Users.html" class="nav-link">Users</a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown mr-3">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-user"></i> Hoşgeldin @currentUser.FirstName
					</a>
					<div class="dropdown-menu">
						<a href="profile.html" class="dropdown-item">
							<i class="fas fa-user-circle"></i> Profile
						</a>
						<a href="settings.html" class="dropdown-item">
							<i class="fas fa-cog"></i> Settings
						</a>
					</div>
				</li>
				<li class="nav-item">
					<a asp-action="Logout" asp-controller="Auth" asp-area="Admin" class="nav-link">
						<i class="fas fa-user-times"></i> Logout
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav> *@

<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
    <form class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
        </ul>
        <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <div class="search-backdrop"></div>
            <div class="search-result">
                <div class="search-header">
                    Histories
                </div>
                <div class="search-item">
                    <a href="#">How to hack NASA using CSS</a>
                    <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                </div>
                <div class="search-item">
                    <a href="#">Kodinger.com</a>
                    <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                </div>
                
                <div class="search-header">
                    Projects
                </div>
                <div class="search-item">
                    <a href="#">
                        <div class="search-icon bg-primary text-white mr-3">
                            <i class="fas fa-laptop"></i>
                        </div>
                        Create a new Homepage Design
                    </a>
                </div>
            </div>
        </div>
    </form>
    <ul class="navbar-nav navbar-right">
        <li class="dropdown dropdown-list-toggle">
            <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="far fa-envelope"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
                <div class="dropdown-header">
                    Messages
                    <div class="float-right">
                        <a href="#">Mark All As Read</a>
                    </div>
                </div>
                @await Component.InvokeAsync("ContactForm")
                <div class="dropdown-footer text-center">
                    <a asp-area="Admin" asp-action="FormList" asp-controller="Contact">View All <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
        <li class="dropdown dropdown-list-toggle">
            <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
                <div class="dropdown-header">
                    Notifications
                    <div class="float-right">
                        <a href="#">Mark All As Read</a>
                    </div>
                </div>
                <div class="dropdown-list-content dropdown-list-icons">
                    <a href="#" class="dropdown-item dropdown-item-unread">
                        <div class="dropdown-item-icon bg-primary text-white">
                            <i class="fas fa-code"></i>
                        </div>
                        <div class="dropdown-item-desc">
                            Template update is available now!
                            <div class="time text-primary">2 Min Ago</div>
                        </div>
                    </a>
                </div>
                <div class="dropdown-footer text-center">
                    <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="~/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                <div class="d-sm-none d-lg-inline-block">Hi, @currentUser.FirstName</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-title">Logged in 5 min ago</div>
                <a href="features-profile.html" class="dropdown-item has-icon">
                    <i class="far fa-user"></i> Profile
                </a>
                <a href="features-activities.html" class="dropdown-item has-icon">
                    <i class="fas fa-bolt"></i> Activities
                </a>
                <a href="features-settings.html" class="dropdown-item has-icon">
                    <i class="fas fa-cog"></i> Settings
                </a>
                <div class="dropdown-divider"></div>
                <a asp-action="Logout" asp-controller="Auth" asp-area="Admin" class="dropdown-item has-icon text-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </li>
    </ul>
</nav>