@using Entity.Dto.HomePages
@using WebUI.ViewModels
@{
    ViewData["Title"] = "Home Page";
    var titles = Model.HomePageViewDTO.Title.Split(",");
}
@model HomeViewModel
<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <h1 id="home-title" class="text-white font-tertiary">@titles[0]<br>@titles[1]<br>@titles[2]</h1>
            </div>
        </div>
    </div>
    <div class="layer-bg w-100">
        <img class="img-fluid w-100" src="images/illustrations/leaf-bg.png" alt="bg-shape">
    </div>
    <div class="layer" id="l2">
        <img src="~/images/illustrations/dots-cyan.png" alt="bg-shape">
    </div>
    <div class="layer" id="l3">
        <img src="~/images/illustrations/leaf-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l4">
        <img src="~/images/illustrations/dots-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l5">
        <img src="~/images/illustrations/leaf-yellow.png" alt="bg-shape">
    </div>
    <div class="layer" id="l6">
        <img src="~/images/illustrations/leaf-cyan.png" alt="bg-shape">
    </div>
    <div class="layer" id="l7">
        <img src="~/images/illustrations/dots-group-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l8">
        <img src="~/images/illustrations/leaf-pink-round.png" alt="bg-shape">
    </div>
    <div class="layer" id="l9">
        <img src="~/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
    </div>
    <!-- social icon -->
    <ul id="home-contact" class="list-unstyled ml-5 mt-3 position-relative zindex-1">
        <li class="mb-3"><a class="text-white" target="_blank" href="@Model.ContactViewDTO.Linkedin"><i class="ti-linkedin"></i></a></li>
        <li class="mb-3"><a class="text-white" target="_blank" href="@Model.ContactViewDTO.Github"><i class="ti-github"></i></a></li>
        <li class="mb-3"><a class="text-white" target="_blank" href="https://themefisher.com/"><i class="ti-dribbble"></i></a></li>
        <li class="mb-3"><a class="text-white" target="_blank" href="@Model.ContactViewDTO.Twitter"><i class="ti-twitter"></i></a></li>
    </ul>
    <!-- /social icon -->
</section>
<!-- /hero area -->
<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <p class="font-secondary paragraph-lg text-dark">
                    @Model.HomePageViewDTO.AboutInfo
                </p>
                <a asp-action="Index" asp-controller="About" class="btn btn-transparent">know more</a>
            </div>
        </div>
    </div>
</section>
<!-- /about -->
@await Component.InvokeAsync("Skill")


<!-- experience -->
<section class="section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Experience</h2>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="~/images/experience/icon-1.png" alt="icon">
                <p class="mb-0">06/2022 - 09/2022</p>
                <h4>Back-end Developer Intern</h4>
                <h6 class="text-light">Derin Ar-ge</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="~/images/experience/icon-2.png" alt="icon">
                <p class="mb-0">02/2023 - 06/2023</p>
                <h4>Back-end Developer Intern</h4>
                <h6 class="text-light">Agontech</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="~/images/experience/icon-3.png" alt="icon">
                <p class="mb-0">09/2023 - Present</p>
                <h4>Java Developer</h4>
                <h6 class="text-light">Freelance</h6>
            </div>
        </div>
    </div>
</section>
<!-- ./experience -->
<!-- education -->
<section class="section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Education</h2>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2019 - 2023</p>
                        <h4>Software Engineering</h4>
                        <p class="mb-0 text-light">Fırat University</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2014 - 2018</p>
                        <h4>High School</h4>
                        <p class="mb-0 text-light">Masuk Anadolu Lisesi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2021 - 2023</p>
                        <h4>Java Course</h4>
                        <p class="mb-0 text-light">Udemy - Mustafa Murat Coşkun</p>
                    </div>
                </div>
            </div>
           @*  <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">1998</p>
                        <h4>Secondary School Certificate</h4>
                        <p class="mb-0 text-light">Cardiff School</p>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
    <!-- bg image -->
    <img class="img-fluid edu-bg-image w-100" src="~/images/backgrounds/education-bg.png" alt="bg-image">
</section>
<!-- /education -->
@await Html.PartialAsync("_technologies-logo")

<!-- blog -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Blogs</h2>
            </div>
            @foreach (var blog in Model.Blogs)
            {
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <article class="card shadow">
                        <img class="rounded card-img-top" src="@blog.Image.Url" alt="post-thumb">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="text-dark" href="/Blog/Detail/@blog.Id">@blog.Title</a>
                            </h4>

                            <a href="/Blog/Detail/@blog.Id" class="btn btn-xs btn-primary">Read More</a>
                        </div>
                    </article>
                </div>
            }
           
        </div>
    </div>
</section>
<!-- /blog -->